<div class="page-wrapper">
  <nav class="navBar">
    <div class="left">
      <a routerLink="/"
        ><img
          src="/images/logo_MarioCart.png"
          alt="Logo MarioCart"
          class="logo"
      /></a>
    </div>

    <ul class="linkNavBar center">
      <li class="cta"><a class="btn" routerLink="/">Accueil</a></li>
      <li class="cta"><a class="btn" routerLink="/products">Produits</a></li>
      <li class="cta"><a class="btn" routerLink="/cart">Panier</a></li>
    </ul>

    <ul class="login right">
      <li *ngIf="!isLoggedIn" class="cta">
        <a class="btn" routerLink="/signup">Inscription</a>
      </li>
      <li *ngIf="!isLoggedIn" class="cta">
        <a class="btn" routerLink="/login">Connexion</a>
      </li>
      <li *ngIf="isLoggedIn" class="cta">
        <a class="btn" routerLink="/profile">Profil</a>
      </li>
      <li *ngIf="isLoggedIn && userRole === 'store'" class="cta">
        <a class="btn" href="http://localhost:5173/shop/dashboard">Dashboard</a>
      </li>

      <li *ngIf="isLoggedIn" class="cta">
        <a class="btn" routerLink="/logout">Déconnexion</a>
      </li>
    </ul>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <div class="footer-left">
      <a routerLink="/mentions-legales">Mentions légales</a>
    </div>
    <div class="footer-center">
      <p>&copy; 2025 MarioCart. Tous droits réservés.</p>
    </div>
    <div class="footer-right">
      <a routerLink="/cgu">CGU</a>
    </div>
  </footer>
</div>
