#Fichiers et dossiers globaux à ignorer
.DS_Store
Thumbs.db

#AuthMicroservice
authMicroservice/node_modules/
authMicroservice/dist/
authMicroservice/.env
authMicroservice/logs/
authMicroservice/coverage/

#Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/coverage/
frontend/tmp
frontend/out-tsc
frontend/bazel-out
frontend/.angular/cache/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.angular/cache
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings

#Panier
paniermicroService/.env
