<section class="presentation">
  <h1>Préparez-vous à faire chauffer le panier sur MarioCart !</h1>

  <p>
    Découvrez un univers coloré où l'expérience d'achat en ligne devient rapide,
    simple et amusante.
    <br />Que vous soyez un particulier à la recherche de produits uniques ou un
    professionnel souhaitant vendre vos articles, <br /><strong
      >MarioCart est conçu pour répondre à tous vos besoins.</strong
    >
  </p>

  <ul class="features">
    <li>
      <strong>Naviguez facilement</strong> parmi nos produits grâce à une
      interface intuitive.
    </li>
    <li>
      <strong>Ajoutez vos articles préférés</strong> à votre panier en un clic.
    </li>
    <li>
      <strong>Commandez en toute sécurité</strong>, avec un suivi clair de vos
      achats.
    </li>
  </ul>

  <p class="cta">
    Rejoignez la communauté <strong>MarioCart</strong> et profitez d'un site
    pensé pour vous !
  </p>
</section>

<app-flash-sale-card></app-flash-sale-card>

<app-products></app-products>
